<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li class='article_link'>
      <% if article.image.exists? %>
        <div>
          <%= link_to article_path(article) do %>
            <%= image_tag article.image.url(:thumb), class: 'thumb_image' %>
          <% end %>
        </div>
      <% end %>
      <div class='summary'>
        <%= link_to article.title, article_path(article) %>
        <p>
          <%= article.body[0..200] + '...' %>
        </p>
      </div>
    </li>
  <% end %>
</ul>
<div class='nav_link_div'>
  <%= link_to "Search by Tag", tags_path, class: 'nav_link' %><br/>
  <% if logged_in? %>
    <%= link_to "Create New Article",
                new_article_path, 
                class: 'nav_link' %>
  <% end %>
</div>
