<h1><%= @article.title %></h1>
<p class='article_dateline'>Created <%=@article.created_at.strftime("%A #{@article.created_at.day.ordinalize} of %B, %Y, at %X")%></p> 

<p>
<% if @article.image.exists? %>
  <%= image_tag @article.image.url(:original), class: 'article_image' %>
<% end %>
</p>

<div class='article'><%= simple_format(@article.body) %></div>
<p class='tags_container'> Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: 'article_tag' %>
  <% end %>
</p>
<hr/>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comments/form' %>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= link_to "<< Back to Articles List", root_path, class: 'nav_link' %>
<br/>
<% if logged_in? %>
  <%= link_to "Edit", edit_article_path(@article), class: 'nav_link' %>
  <br/>
  <%= link_to "Delete", 
              article_path(@article), 
              method: :delete,
              data: {confirm: "Really delete the article?"}, 
              class: 'nav_link' %>
<% end %>



