<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div class='navs'>
        <h6 id='home'>
          <%= link_to 'Home', root_path %>
        </h6>
        <h6 id='loggin'>
          <% if logged_in? %>
            <%= "Logged in: #{current_user.email}" %>
            <%= link_to 'logout', logout_path %>
          <% else %>
            <%= link_to 'login', login_path %>
          <% end %>
        </h6>
      </div>
      <p class="flash"><%= flash.notice %></p>
      <%= yield %>
    </div>
  </body>
</html>
